.l-flex
    display: flex
.l-align-center
    align-items: center
.l-flex-wrap
    flex-wrap: wrap

#sidebar 
    width: 200px
    padding-top: 25px 
        
#main 
    width: calc(100% - 200px)
    padding: 5px

.l-header
	display: flex
	justify-content: space
	width: 100%

.l-section
	display: flex

.hero
	width: 50%
	padding: 50px 30px

.s-container
	width: 50%
    
.img
	width: 500px
	height: 400px
	margin: 60px auto
	border-radius: 5px

.pr-item-list
  width: 100%

.grid
	display: grid
	gap: 40px
	grid-template-columns: repeat(auto-fit, 1fr)
	margin-left: 140px

.pr-item
	width: 350px
	height: 300px
	border-radius: 5px