.sm-img
	margin-top: 8px
	width: 300px
	height: 140px
	padding: 3px
	border-radius: 5px
	span
		margin: 0 5px
		color: silver
		vertical-align: -1px
	h2
		margin: 0
	p
		margin: 0
	pre
		margin: 0
.down
	position: relative
	left: 210px
	line-height: 20px
#sm-img-html
	position: relative
	top: -20px
	right: -130px
#sm-img-scss
	position: relative
	top: -20px
	right: -180px
#sm-img-js
	position: relative
	top: -20px
	right: -130px